@charset "UTF-8";


/*
em HTML é id = em CSS é #
em HTML é class = em CSS é .

*/

body {
    background-color: rgb(67, 130, 141);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgba(63, 63, 194, 0.562);
}

h1#principal {
    text-align: center;
    background-color: rgba(63, 63, 194, 0.562);
    color: rgba(167, 129, 129, 0.774);
}

h2 {
    color: blanchedalmond;
}